.subject-areas-listing {
  margin-bottom: 6vw;
}

.subject-areas-listing__title,
.subject-areas-listing__cta {
  text-align: center;
}

.subject-areas-listing__subject-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}