.subject-areas-listing {
  margin: 6vw var(--margin);
}

.subject-areas-listing__title {
  text-align: center;
}

.subject-areas-listing__subject-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 500px) {
  .subject-areas-listing__title {
    text-align: left;
  }
}