.subject-areas-listing {
  margin: 0;
  padding: var(--margin);
}

.subject-areas-listing__title {
  text-align: left;
  margin-top: 0;
}

.subject-areas-listing__subject-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 48em) {
  .subject-areas-listing__title {
    text-align: center;
  }
}