@import "../../assets/scss/variables";

.listingBlock {
  margin: 0 auto;
  width: unquote("min(85ch, 94%)");
  padding: 0 0 2.5em 0;
}

.listingBlock--full {
  // margin: 0;
  width: 100%;
  padding: var(--margin);
}

.listingBlock--content {
  width: unquote("min(85ch, 94%)");
}
