.cta {
  line-height: 1.75em;
  letter-spacing: 0.025em;
  text-decoration: none;
  white-space: nowrap;
}

.cta-secondary:hover {
  opacity: 0.75;
}

.cta-secondary:after {
  content: "\279C";
  padding-left: 6px;
}
