// Header

.page-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vw auto;
  max-width: 75%;
  text-align: center;
}

.page-head h2 {
  margin: 1.25rem 0;
  font-size: 3.5rem;
  color: var(--color-base);
  line-height: 4rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
}

.page-head p {
  font-size: 1.5rem;
}

@media (max-width: 740px) {
  .page-head {
    max-width: 95%;
  }

  .page-head h2 {
    font-size: 2rem;
    line-height: 2.75rem;
  }

  .page-head p {
    font-size: 1rem;
  }
}
