@import "./normalize";

html {
  font-size: 100%;
}

body {
  font-family: "Poppins";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}

// Header

.page-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8vw 0;
  max-width: 75%;
  margin: auto;
  text-align: center;
}

.page-head h2 {
  margin: 1.25rem 0;
  font-size: 3rem;
  font-weight: 500;
  color: var(--color-base);
  line-height: 4rem;
}

.page-head p {
  font-size: 1.2rem;
}

@media (max-width: 740px) {
  .page-head {
    max-width: 100%;
  }

  .page-head h2 {
    font-size: 2rem;
  }

  .page-head p {
    font-size: 1rem;
  }
}

.image {
  max-width: 100%;
  width: 100%;
}

.width-full {
  position: relative;
  width: 94vw;
  min-width: 100%;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
}
