@import "./normalize";
@import "./grid";
@import "./header";
@import "./cta";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Poppins";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 1.4;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

h1 {
  margin: 0 0 0.5em 0;
  font-size: 2.7rem;
  font-weight: 800;
}
@media (min-width: 48em) {
  h1 {
    font-size: 5.7rem;
  }
}

h2 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.5rem;
}
@media (min-width: 48em) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  margin: 1.5em 0 1em 0;
  font-size: 1.1rem;
}
@media (min-width: 48rem) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  margin: 1.5em 0 1em 0;
  font-size: 2.6rem;
}

h5 {
  margin: 1.5em 0 1em 0;
  font-size: 2.4rem;
}

h6 {
  margin: 1.5em 0 1em 0;
  font-size: 2.2rem;
}

p {
  line-height: 2rem;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-action);
}

.image {
  max-width: 100%;
  width: 100%;
}

.width-full {
  position: relative;
  width: 94vw;
  min-width: 100%;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
}
