:root {
    /* Colours */
    --color-primary: #3eb0ef;
    --color-base: #131313;
    --color-border: #000;
    --color-bg: #f8f8f8;
    --color-action: #f03949;
    --color-mobile-nav: rgba(255, 255, 255, 1);

    --color-tt-green: #33b545;
    --color-tt-orange: #f46e30;
    --color-tt-purple: #a81971;
    --color-tt-blue: #14b3d9;
    --color-tt-red: #f03949;
    --color-tt-yellow: #ebd20e;

    /* Fonts */
    --font-normal: 300;
    --font-bold: 500;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;

    /* Sizes */
    --height: 4rem;
    --margin: 5vw;
    --radius: 6px;

    /* Menu */
    --site-header-height: 75px;
    --cardShadowXLarge: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3);
    --cardShadowXLargeMargin: 48px;
}
