:root {
    /* Colours */
    --color-primary: #3eb0ef;
    --color-base: #131313;
    --color-border: #000;
    --color-bg: #f8f8f8;
    --color-action: #a81971;

    /* Fonts */
    --font-normal: 300;
    --font-bold: 500;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.5rem;
}
