@import "../../assets/scss/variables";

.costOption {
  // background-color: var(--color-bg);
  padding: 2.5em;
  margin: 0;
  border-radius: 10px;
  border: 2px solid var(--color-bg);
  color: var(--color-bg);
}

p.costOption__title {
  margin-top: 0;
  font-size: 1.5em;
}

p.costOption__cost {
  font-size: 2em;
  font-weight: var(--font-bold);
}

p.costOption__cta {
  margin-bottom: 0;
  font-size: 1.5em;
}

.costOption__link {
  color: var(--color-bg);
}
