.shapeSection {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

.shapeSection__divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shapeSection__divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.shapeSection__divider-top--flipped svg,
.shapeSection__divider-bottom--flipped svg {
  transform: rotateY(180deg);
}

.shapeSection__divider-bottom {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shapeSection__divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.shape-fill {
  fill: var(--color-bg);
}
