@import "../../assets/scss/variables";

.course-listing {
  margin: var(--margin) auto;
}

.course-listing__title {
  text-align: left;
  margin-top: 0;
}

.course-listing__view-all-container {
  margin-top: 2rem;
  font-size: 1.5rem;
}

@media (min-width: $breakpoint-medium) {
  .course-listing__title {
    text-align: center;
  }

  .course-listing__view-all-container {
    margin-top: 4rem;
    text-align: center;
  }
}
