@import "../../assets/scss/variables";

.course-listing {
  margin: var(--margin) auto;
}

.course-listing__title {
  text-align: left;
  margin-top: 0;
}

@media (min-width: $breakpoint-medium) {
  .course-listing__title {
    text-align: center;
  }
}
