@import "../../assets/scss/variables";

.about {
  position: relative;
  margin: 0;
  padding: 175px var(--margin) 125px var(--margin);
  background-image: linear-gradient(45deg, var(--color-tt-red), var(--color-tt-orange));
  color: var(--color-bg);
}

.about__title {
  margin: 0;
}

.about__text {
  margin: 0;
  font-size: 1.35rem;
}

.about__text p {
  margin-top: 0.65rem;
  line-height: 2.5rem;
}

@media (max-width: $breakpoint-medium) {
  .about__text {
    font-size: 1.1rem;
  }

  .about__text p {
    line-height: 2rem;
  }
}

.custom-shape-divider-top-1594982357 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1594982357 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1594916332 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1594916332 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
  transform: rotateY(180deg);
}

.shape-fill {
  fill: var(--color-bg);
}
