@import "../../assets/scss/variables";

.about {
  color: var(--color-bg);
}

.about__title {
  margin: 0;
  text-align: left;
}

.about__text {
  margin: 0;
}

.about__text p {
  margin-top: 0.65rem;
  font-size: 1.35rem;
  line-height: 2.5rem;
}

.about__link {
  color: var(--color-bg);
}

@media (max-width: $breakpoint-medium) {
  .about__text p {
    font-size: 1.1rem;
    line-height: 2rem;
  }
}
