.skewWrapper {
  display: inline-block;
  transform: skewX(var(--unSkewAngle));
  color: var(--color-bg);
  background-color: var(--color-action);
  padding: 10px 12px;
  box-shadow: var(--shadow);
}

.skewWrapper--hover:hover {
  background-color: var(--color-action-hover);
}

.skewWrapper__text {
  display: block;
  transform: skewX(var(--skewAngle));
}
