@import "../../assets/scss/variables";

// Wrapper

.site-wrapper {
  min-height: 100vh;
  margin: auto;
}

// Content pages

.content-body {
  width: unquote("min(85ch, 94%)");
  margin: 0 auto;
  padding: 0 0 4vw 0;
}

.content-body p {
  font-size: 1.2rem;
  line-height: 2.75rem;
}

// Site navigation

.site-head {
  position: relative;
  padding: 1vw var(--margin);
  z-index: 300;
  font-size: 1rem;
}

.site-head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.site-head__nav {
  display: flex;
  margin: 0 0 0 -12px;
  padding: 0;
  list-style: none;
}

.site-head__nav-item {
  display: block;
  margin: 0;
  padding: 0;
}

.site-head__link {
  display: block;
  margin: 0;
  padding: 10px 12px;
  color: var(--color-base);
  font-weight: var(--font-bold);
  opacity: 0.75;
  text-decoration: none;
}

.nav-current,
.site-head__link:hover {
  text-decoration: none;
  opacity: 1;
}

.site-head__link--contact {
  color: var(--color-bg);
  opacity: 1;
  background-color: var(--color-action);
  white-space: nowrap;
  border-radius: var(--radius);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.15s ease;
  margin-left: 18px;
}

.site-head__link--contact:hover {
  opacity: 0.75;
}

.site-head-left {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 10px;
  white-space: nowrap;
}

.site-head__logo {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 0;
  color: var(--color-base);
  font-size: calc(1vw + 0.8rem);
  line-height: 1.4em;
  font-weight: 500;
  letter-spacing: 0em;
  text-decoration: none;
}

.site-head__logo-image {
  display: block;
  margin: 0 15px 0 0;
  width: auto;
  height: var(--site-header-height);
}

.site-head-right {
  position: relative;
  z-index: 100;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.mobile-nav-container {
  display: none;
}

@media (max-width: $breakpoint-medium) {
  .site-head-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60px;
    z-index: -1;
    transition: all 0.4s ease-out;
    overflow: hidden;
  }

  .site-head__logo-image {
    height: 50px;
  }

  .site-head-right {
    display: none;
  }

  .site-head__link {
    margin: 1px 0;
    padding: 8px 0;
    font-size: 2rem;
    line-height: 1.15em;
    font-weight: 300;
    opacity: 0;
    transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transform: translateY(-25px);
  }

  .site-head-open .site-head__link {
    opacity: 1;
    transition: transform 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.9s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transform: translateY(0px);
  }

  .site-head__link--contact {
    margin: 10px;
    padding: 10px;
  }

  .site-head-open .nav-current {
    border-bottom: var(--color-base) 2px solid;
  }

  .site-head-open {
    background-color: var(--color-bg-overlay);
    transition: background-color 0.5s ease-out;
    transition-delay: 0.25;
    overflow: hidden;
    height: 100vh;
  }

  .mobile-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 0;
    z-index: -1;
    transition: all 0.4s ease-out;
    overflow: hidden;
  }

  .mobile-nav {
    position: relative;
    z-index: -1;
    height: auto;
    width: 100%;
    margin-top: 3vw;
    transition: height 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 1s;
  }

  .mobile-nav__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vw 0 0 0;
    padding: 0;
  }

  .site-head-open .mobile-nav-container {
    height: 100vh;
    transition: height 0.2s ease-in;
  }

  .site-head-open .mobile-nav {
    z-index: 9999;
    height: auto;
    transition: height 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
}
