@import "../../assets/scss/variables";

.menu-dropdown {
  --siteMenuWidth: 740px;
  position: absolute;
  display: block;
  top: calc(var(--site-header-height) - 15px);
  right: 0;
  width: var(--siteMenuWidth);
  opacity: 0;
  perspective: 2000px;
  transition-property: opacity;
  transition: var(--siteMenuTransition);
}

.menu-dropdown--open {
  opacity: 1;
}

.menu-dropdown__list {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 50%;
  width: var(--siteMenuWidth);
  padding: 10px;
  --siteMenuOffset: 0;
  --siteMenuRotateX: 0;
  background-color: var(--color-bg-overlay);
  box-shadow: var(--cardShadowXLarge);
  transform: translateX(-50%) rotateX(var(--siteMenuRotateX));
  transform-origin: 50% -50px;
  transition: var(--siteMenuTransition);
  transition-property: transform, width, height;
  will-change: transform, width, height;
}

.menu-dropdown__list[hidden] {
  visibility: hidden;
  --siteMenuRotateX: -15deg;
}

.menu-dropdown__nav-item {
  display: block;
  margin-top: 1em;
  width: 240px;
}

.menu-dropdown__container {
  display: flex;
  width: 100%;
}

.menu-dropdown__text {
  margin-left: 1em;
  flex: 1;
}

.menu-dropdown__summary {
  font-size: 0.85rem;
  font-weight: normal;
  line-height: 1.5em;
  margin-top: 0.5em;
}

.menu-dropdown__arrow {
  --siteMenuArrowOffset: 68px;
  position: absolute;
  top: -6px;
  left: 50%;
  margin: 0 0 0 -6px;
  width: 12px;
  height: 12px;
  transform: translateY(12px) translateX(var(--siteMenuArrowOffset)) translateX(50%) rotate(45deg);
  border-radius: 3px 0 0 0;
  background-color: var(--color-bg-overlay);
  box-shadow: -3px -3px 5px rgba(82, 95, 127, 0.04);
  transition-property: transform;
  transition-duration: var(--siteMenuTransition);
  z-index: 2;
}

.menu-dropdown--open .menu-dropdown__arrow {
  transform: translateY(0) translateX(var(--siteMenuArrowOffset)) translateX(50%) rotate(45deg);
}

@media (max-width: $breakpoint-medium) {
  .menu-dropdown {
    display: none;
  }
}
