@import "../variables";

.contact {
  margin: 0;
}

.contact__field {
  position: relative;
}

.contact__field-element {
  width: 100%;
  margin: 1em 0 2em;
  padding: 0.75em;
  line-height: normal;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.contact__textarea {
  min-height: 150px;
  resize: vertical;
}

.contact__field-element:focus {
  outline-color: var(--color-base);
}

.contact__button {
  display: inline-block;
  transform: skewX(var(--unSkewAngle));
  color: var(--color-bg);
  background-color: var(--color-action);
  padding: 10px 12px;
  box-shadow: var(--shadow);
  font-weight: 700;
  color: var(--color-bg);
  white-space: nowrap;
  border: none;
  outline: none;
}

.contact__button-text {
  display: block;
  transform: skewX(var(--skewAngle));
}

.contact__button:hover {
  background-color: var(--color-action-hover);
}

.contact__button:focus {
  outline-color: var(--color-tt-red);
}
