@import "../../assets/scss/variables";

.page-head {
  width: 75%;
  margin: var(--margin) auto;
  text-align: center;
}

.page-head__title {
  margin: 1.25rem 0;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0.01rem;
}

.page-head p {
  font-size: 1.5rem;
}

@media (max-width: $breakpoint-medium) {
  .page-head {
    width: 90%;
  }

  .page-head__title {
    font-size: 2rem;
    line-height: 2.75rem;
  }

  .page-head p {
    font-size: 1rem;
  }
}
