@import "../../assets/scss/variables";

.tutorListing {
  margin: 0;
  padding: 0;
}

.tutorListing__list {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

.tutorListing__provisionItem {
  display: block;
  margin: 0 1em 1em 0;
  padding: 0;
  white-space: nowrap;
}
