@import "../../assets/scss/variables";

.tutorListing {
  margin: 0;
  padding: 0;
}

.tutorListing__provisionSubject {
  margin-bottom: 1em;
}

.tutorListing__provisionSubjectTitle {
  margin-right: 2em;
}

.tutorListing__provisionSubjectKeyStage {
  margin-right: 1em;
}
