.testimonial {
  position: relative;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: linear-gradient(120deg,var(--color-tt-orange),var(--color-tt-red));
}

.testimonial__divider-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.testimonial__divider-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.testimonial__divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.testimonial__divider-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}

.testimonial__wrapper {
  max-width: 75%;
  margin: 2rem auto;
}

.testimonial-quote p {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: var(--font-bold);
  text-align: center;
}

.testimonial-quote p {
  quotes: "“" "”" "‘" "’";
}

.testimonial-quote p:before {
  content: open-quote;
  font-size: 2rem;
  margin-right: 0.2rem;
  font-weight: 700;
}

.testimonial-quote p:after {
  content: close-quote;
  font-size: 2rem;
  margin-left: 0.2rem;
  font-weight: 700;
}

.testimonial__attribution {
  font-size: 1.5rem;
  font-weight: var(--font-normal);
  text-align: center;
}

@media (max-width: 500px) {
  .testimonial-quote p {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .testimonial__attribution {
    font-size: 1rem;
  }
}
